*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #AF0F14;
    font-size: 1rem;
}

a.hover{
    color: black;
}

/* Header */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar .links li {
    position: relative;
    display: inline-block;
}

.submenu{
    display: none;
}

.navbar .links li:hover .submenu {
    display: block;
    position: absolute;
    margin-top: 1px;
    margin-left: -25px;
    padding: 10px;
    row-gap: 10px;
}

.navbar .links li:hover .submenu ul {
    display: block;
    margin: 10px;
}

.navbar .links li:hover .submenu ul li {
    width: 150px;
    padding: 10px;
    text-align: left;
}

.subSubmenu {
    display: none;
}

.hover-me:hover .subSubmenu {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/*Start of body css*/
@font-face {
    font-family: Fasthand;
    src: url(/Fonts/Fasthand/Fasthand-Regular.ttf);
}




/** Responsive Design:
navigation bar to show on desktop - mobile nav hiden
on mobile desktop nav hiden and mobile nav shown */
@media(max-width: 540px){
    .navbar {
        display: none;
    }

    .webFooter {
        display: none;
    }

    .mobileNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 200px;
    }
}
/* end of responsive design*/
